In [177]:
import happybase
from datetime import datetime

connection = happybase.Connection('192.168.15.56',9090, autoconnect=True)

# before first use:
connection.open()

In [178]:
print(connection.tables())

[b'mytable']

In [179]:
##connection.create_table(
##    'mytable',
#    {'cf1': dict(max_versions=10),
#     'cf2': dict(max_versions=1, block_cache_enabled=False),
#     'cf3': dict(),  # use defaults
#    }
##)

In [180]:
table = connection.table('mytable')
## just print python object
print(str(table))

<happybase.table.Table name=b'mytable'>

In [181]:
### --> Put simple data to mytable -
### Pay attention: You need add values for each column cf1,cf2,cf3
table.put('row-key',{'cf1:name': 'value1',
                       'cf2:surname': 'value2',
                       'cf3:middle_name': 'value3'})

In [182]:
now = datetime.now()

ts = datetime.timestamp(now)
table.put('row-key1',{'cf1:name':'Marcos',
          'cf2:surname':'Silva',
          'cf3:middle_name':'Vinicius Vasconcelos'})

In [184]:
import json
rws = table.rows([b'row-key',b'row-key1'])
for r in rws:
    print(str(r))

###
print(' ######################################################################################\n \
######################################################################################\n \
######################################################################################\n')
for key,data in rws:
    print("\'Nome\':",str(data[b'cf1:name']).replace('b\'','\''), ", ","\'Sobre nome\':",str(data[b'cf2:surname']).replace('b\'','\''))
    #print("Nome: ", dt["cf1:name"], ", ","Sobre nome: ", dt["cf2:surname"])

(b'row-key', {b'cf1:name': b'value1', b'cf1:nome': b'Marcos', b'cf2:surname': b'value2', b'cf3:middle_name': b'value3', b'cf3:middlew_name': b'Vinicius Vasconcelos'})
(b'row-key1', {b'cf1:col1': b'value1', b'cf1:name': b'Marcos', b'cf2:col2': b'value2', b'cf2:surname': b'Silva', b'cf3:col3': b'value3', b'cf3:middle_name': b'Vinicius Vasconcelos'})
 ######################################################################################
 ######################################################################################
 ######################################################################################

'Nome': 'value1' ,  'Sobre nome': 'value2'
'Nome': 'Marcos' ,  'Sobre nome': 'Silva'